# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# R manual files
*.Rd

# RStudio files
.Rproj.user/
.Rproj.user

# Vim swap files
.*.sw*

# python compiled files
*.pyc
