{% extends 'tempus/base.html' %}
{% block body %}

                <div class='row trunk-section'>
                    <form enctype="multipart/form-data" action="{% url 'upload_home' %}" method="post" class="userFroms">{% csrf_token %}
                    {{ form.file.errors }} {{ form.file.label }}: {{ form.file }}
                    <br>
                    {{ form.filetype.errors }} {{ form.filetype.label }}: {{ form.filetype }}
                    <p><input type="submit" name="to_website" value="Upload" class="wpcf7-form-control wpcf7-submit button button-grey" />
                </div>
{% endblock %}
